<div class="container">
  <form (submit)="onSubmit($event)">
    <!-- <app-account-form [form]="form.account" /> -->
    <app-account-form [formField]="form.account" />
    <!-- <app-address-form [form]="form.shippingAddress" /> -->
    <app-address-form [formField]="form.shippingAddress" />
    <!-- <app-preferences-form [form]="form.preferences" /> -->
    <app-preferences-form [formField]="form.preferences" />
    <div class="actions">
      <button type="submit" [disabled]="!form().valid()">
        Submit
      </button>
    </div>
  </form>
  <app-debug-panel [form]="form()" />
</div>

